@using APPClinet.Areas.Identity.Data.Interfaces
@inject IApplicationUser _iuser
@* ChurchCategories & ChurchSubCategories *@
@{
    foreach (var item in _iuser.OnGetChurchCategories().OrderBy(a => a.Position))
    {
        if (item.ActivePassive == true)
        {
            <div class="col-lg-4 col-md-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                <h6 class="text-dark"><strong>@item.TitleCategory<i class="fas fa-chevron-down f10n ml-2"></i></strong></h6>
                <ul class="list-unstyled footer-list mt-2 ml-3">
                    @foreach (var itemsub in _iuser.OnGetChurchSubCategories().Where(sub => sub.CategoryId == item.Id).OrderBy(a => a.Position))
                    {
                        if (itemsub.ActivePassive == true)
                        {
                            <li><a href="/Identity/Search/Details/ChurchDetailsView?titlesubcategory=@itemsub.TitleSubCategory.Replace(" ", "§").ToString()" class="f15n text-dark"><i class="fas fa-caret-left f10n mr-2"></i><b>@itemsub.TitleSubCategory</b></a></li>
                        }
                    }
                </ul>
            </div>
        }
    }
}