<!-- Hero Start -->
<section class="bg-half-260 bg-primary d-table w-100" style="background: url('lib/images/dist/mainz/mainz.jpg') center center;" id="home">
    <div class="bg-overlay"></div>
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Hero End -->
<!-- Team Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title">خادمین</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team text-center border-0">
                    <div class="position-relative">
                        <img src="~/lib/images/dist/teams/01.jpg" class="img-fluid avatar avatar-ex-large shadow" alt="">
                        <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                            <a href="https://www.facebook.com/kelisa.noorvaomid.37" target="_blank" class="btn btn-icon btn-primary"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/noorvaomid" target="_blank" class="btn btn-icon btn-info"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/noorvaomid/" target="_blank" class="btn btn-icon btn-dark"><i class="fa fa-instagram"></i></a>
                            <a href="https://t.me/kelisanoorvaomid" target="_blank" class="btn btn-icon btn-blue"><i class="fa fa-paper-plane"></i></a>
                        </ul><!--end icon-->
                    </div>
                    <div class="card-body py-3 px-0 content">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">امیر ارگانی</a></h5>
                        <h6 class="mb-0"><a href="javascript:void(0)" class="name text-dark f10">Amir Argani</a></h6>
                        <small class="designation text-muted">طراح و برنامه نویس</small>
                    </div>
                </div>
            </div><!--end col-->

        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Team Start -->